@charset "UTF-8";

/* 2E3375 8187D4 979EF3 05061B 010207 */
body{
    margin: 0px;
}
header {
    text-align: center;
}
h1#tituloprincipal {
    background-color: #2E3375;
    padding : 20px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.74);
    
    
}

nav {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
ul {
    margin: 0px;
}
li {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color:#8187D4 ;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li::before {
    content: "â ";
}

a {
    text-decoration: none;
    color: #05061B ;
}
a:hover li {
    background-color: #05061B;
    color: #8187D4;
    transition: 0.2s;
}

main {
    background-color: rgb(92, 91, 91);
    padding: 10px;
    
}

section {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

p {
    text-align: justify;
    line-height: 20px;
    text-indent: 20px;
}
aside {
    text-align: justify;
    line-height: 20px;
    text-indent: 20px;
}

article > p > a {
    text-decoration: underline;
    color: #8187D4;
}

aside > p > a {
    text-decoration: underline;
    color: #8187D4;
}

footer {
    background-color: #101a50 ;
    color: #d4d5f0;
    margin: 0px;
    border-top: 5px solid #e0d8d8;
    border-bottom: 5px solid #e0d8d8;
    padding: 5px;
    
}

footer > p {
    text-align: center;
    margin: 0px;
    
}



