@charset "UTF-8";
@font-face {
    font-family: "digital";
    src: url("fontes/Digitalt.otf") format("opentype");
}
/* paleta utilizada - 2E3375 8187D4 979EF3 05061B 010207 */
 

body {
    margin: 0px;
}

header {
    background-color: #2E3375 ;
    text-align: center;
    padding-top: 5px;
    max-width: px;
}

nav {
    background-color: white;
    margin-top: 5px;
    margin: auto;
}

ul {
    margin: 0px;
}

li {
    display: inline-block;
    background-color:#8187D4 ;
    margin-top: 5px;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}
li:hover {
    background-color: #010207;
} 
li:hover a {
    color: #8187D4;
    transition: 0.5s;
} 

li > a {
    color: #010207; 
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
a::before {
    content: "■ ";
}

h1 {
    font: lighter 2em "digital";
}

main {
    background-color: gray;
    padding: 10px;
    margin-bottom: 5px;
}

section {
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 2px;
}

p > a:hover {
    background-color: #52568a;
    color: rgb(255, 255, 255);
}

footer {
    background-color: #8187D4;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    
}